@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #e6f5ff;
}

.title {
    margin: 20px;
    margin-top: 40px;
    margin-left: 40px;
    font-size: 18px;
}

.posts_container {
    margin-left: 40px;
}

.header {
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
}

.headerlist {
    font-size: 20px;
    list-style-type: none;
    list-style: 20px;
    margin: 0;
    overflow: hidden;
    background-color: black;
    height: 110px;
}

.headerlist_item {
    padding-top: 20px;
    float: right;
}

.headerlist_item a:hover {
    color: #ffa64d;
}

.headerlist_img {
    float: left;
    padding-left: 20px;
}

.headerlist_item a, .headerlist_item p {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}


.headerlist .header_img {
    padding: 10px;
    border-radius: 15%;
    width: 90px;
    height: auto;
}

.menulist {
    font-size: 18px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3399ff;
}

.menulist_item {
    float: left;
}

.menulist_item a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    padding-left: 20px;
    text-decoration: none;
}

.menulist_item a:hover {
    color: #ffa64d;
}

.booking {
  float:left;
  margin:2px 0 0 0;
  display:block;
  width:150px;
  height:100px;
  position:relative;
}

.login_container {
    display: block;
    text-align: center;
    margin-top: 1%;
}

.dark_container {
    display: inline-block;
    text-align: center;
    padding: 15px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: black;
    color: white;
    width: 300px;
    border-radius: 10px;
}

.dark_container .login_img {
    width: 80%;
    height: auto;
}

.dark_container .register_img {
    width: 60%;
    height: auto;
}

#loginForm {
    display: inline-block;
    text-align: center;
}

#loginForm input[type=text], input[type=password] {
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.blue_button {
    width: 100%;
    background-color: #3399ff;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
}

.blue_button:hover {
    background-color: #0080ff;
}

.gray_button {
    width: 100%;
    background-color: darkgray;
    color: grey;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
}

#loginForm p {
    padding: 10px;
    font-size: 14pt;
}

#loginForm a {
    color: #ffa64d;
    text-decoration: none;
    transition: all 0.2s linear;
}

#loginForm a:hover{
    color: #3399ff;
}

#loginForm .change_page {
    background-color: #e6f5ff;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    color: #000024;
    text-decoration: none;
}

#loginForm .change_page:hover {
    background-color: #99d6ff;
}

#loginForm .accept_terms {
    margin-top: 15px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
}

.messageBoard_container {
    position: relative;
    padding: 10px;
    float: right;
    border: solid 5px black;
    margin-right: 40px;
    border-radius: 10px;
}

.messageBoard {
    height: 220px;
    width: 300px;
    max-width: 300px;
    padding: 5px;
    border: solid 1px black;
    overflow: auto;
    margin-bottom: 20px;
}

.post {
    padding-bottom: 5px;
    border-bottom: solid 1px #3399ff;
}

.messageBoard_input input[type=submit] {
    display: block;
    width: 100%;
    background-color: #3399ff;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
}

.messageBoard_input input[type=submit]:hover {
    background-color: #0080ff;
}

