@import url('https://fonts.googleapis.com/css?family=Raleway');


.show {
    display:inline-block;
}
.hide {
    display:none;
}

.btn {
	margin: 1%;
}

#datep {
    display: none;
}

.ui-datepicker-calendar tbody td > a.hover-calendar-cell {
    border: 1px solid #074e91;
    background: #5bacf7 url(images/ui-bg_glass_15_5bacf7_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #1a1a1a;
}

#addon{background-color:#999; width:100%}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #e6f5ff;
}

.title {
    margin: 20px;
    margin-top: 40px;
    margin-left: 40px;
    font-size: 18px;
}

.posts_container {
    margin-left: 40px;
}

.header {
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #001f33;
    color: white;
}

.headerlist {
    font-size: 20px;
    list-style-type: none;
    list-style: 20px;
    margin: 0;
    overflow: hidden;
    background-color: #001f33;
    height: 110px;
}

.headerlist_item {
    padding-top: 20px;
    float: right;
}

.headerlist_item a:hover {
    color: #ffa64d;
}

.headerlist_img {
    float: left;
    padding-left: 20px;
}

.headerlist_item a, .headerlist_item p {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}


.headerlist .header_img {
    padding: 10px;
    border-radius: 15%;
    width: 90px;
    height: auto;
}

.header2_bottom {
    width: 100%;
    height: 2px;
    background-color: #e6f5ff;
}

.menulist {
    font-size: 18px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3399ff;
}

.menulist_item {
    float: left;
}

.menulist_item a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    padding-left: 20px;
    text-decoration: none;
}

.menulist_item a:hover {
    color: black;
}

.booking {
  float:left;
  margin:2px 0 0 0;
  display:block;
  width:150px;
  height:100px;
  position:relative;
}

.login_container {
    display: block;
    text-align: center;
    margin-top: 1%;
}

.dark_container {
    display: inline-block;
    text-align: center;
    padding: 15px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: #001f33;
    color: white;
    width: 300px;
    border-radius: 10px;
}

.dark_container .login_img {
    width: 80%;
    height: auto;
}

.dark_container .register_img {
    width: 55%;
    height: auto;
}

#loginForm {
    display: inline-block;
    text-align: center;
}

#loginForm input[type=text], input[type=password] {
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.blue_button {
    width: 100%;
    background-color: #3399ff;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
}

.blue_button:hover {
    background-color: #0080ff;
}

.disable_button {
    width: 100%;
    background-color: darkgray;
    color: grey;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    margin-bottom: 15px;
		pointer-events: none;
}

.gray_button {
    width: 100%;
    background-color: darkgray;
    color: grey;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    margin-bottom: 15px;
}

#loginForm p {
    padding: 10px;
    font-size: 14pt;
}

#loginForm a {
    color: #ffa64d;
    text-decoration: none;
}

#loginForm a:hover{
    color: #3399ff;
}

#loginForm .change_page {
    background-color: #e6f5ff;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    color: black;
    text-decoration: none;
}

#loginForm .change_page:hover {
    background-color: #66c2ff;
    color: black;
}

#loginForm .accept_terms {
    margin-top: 15px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 2px;
    border-top: solid 2px #e6f5ff;
    background-color: #001f33;
    color: white;
}

.messageBoard_container {
    position: relative;
    padding: 10px;
    float: right;
    border: solid 5px #001f33;
    margin-right: 40px;
    border-radius: 10px;

}

.messageBoard_container h2 {
    text-align: center;
    margin-bottom: 5px;
}

.messageBoard {
    height: 100%;
    width: 300px;
    max-width: 300px;
    padding: 5px;
    border: solid 1px #001f33;
    overflow: auto;
}

.post {
    padding-bottom: 5px;
    border-bottom: solid 1px #3399ff;
}

.messageBoard_input {
    margin-top: 20px;
}

.messageBoard_input input[type=submit] {
    display: block;
    width: 100%;
    background-color: #3399ff;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
}

.messageBoard_input input[type=submit]:hover {
    background-color: #0080ff;
}

.legal_container {
    display: block;
    text-align: center;
    margin-top: 1%;
}

.legal {
    display: inline-block;
    text-align: left;
    padding: 15px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: #001f33;
    color: white;
    width: 700px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.legal h1 {
    padding-bottom: 20px;
}

.legal h2 {
    padding-top: 15px;
    padding-bottom: 7px;
}

.legal #raccoon {
    color: #ffa64d;
}
